@import "../valo/valo.scss";

@mixin basic {
  @include valo;
}

@mixin admin {
  @include valo;

  #adminView #serverDataForm {
    background-color: lightblue;
  }

  #adminView #projectcontent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #adminView #projectcontent .v-checkbox {
    //padding-top: 5px;
    background: lightblue;
    margin-top: 5px;
    font-size: 0.8em;
  }

  #adminView #projectcontent .v-checkbox label {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin status {
  #statusView {
    background-color: lightblue;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #statusView .buildStatus {
    width: 800px;
    height: 250px;
    line-height: 250px;

    margin: 10px;
    font-size: 2em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  #statusView .buildStatus .success {
    background-color: lightseagreen;
  }

  #statusView .buildStatus .failure {
    background-color: red;
  }
}

@include basic;
@include admin;
@include status;