@import "../valo/valo.scss";

@mixin basic {
  @include valo;
}

@mixin admin {
  @include valo;

  #adminView #serverDataForm {
    background-color: lightblue;
  }

  #adminView #projectcontent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #adminView #projectcontent .v-checkbox {
    //padding-top: 5px;
    background: lightblue;
    margin-top: 5px;
    font-size: 0.8em;
  }

  #adminView #projectcontent .v-checkbox label {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin status {
  $success-color: #2ec422;
  $failure-color: #C41E36;

  $box-width: 800px;
  $box-height: 250px;

  #statusView {
    background-color: #C2CBCE;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #statusView .buildStatus {
    width: $box-width;
    height: $box-height;
    line-height: $box-height;

    margin: 10px;
    font-size: 2em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .v-label-success, .v-label-failure {
    background: $success-color;
    color: #474747;
    border: 2px solid black;
    border-radius: 4px;
    padding: 7px 19px 7px 37px;
    font-weight: 400;
    font-size: 15px;
  }

  .v-label-success:before, .v-label-failure:before {
    font-family: ThemeIcons;
    content: "\f00c";
    margin-right: 0.5em;
    margin-left: -19px;
    color: white;
  }

  @keyframes blink {
    from { background: $failure-color; height: $box-height; width: $box-width}
    to { background: lighten($failure-color,10%); width: calc($box-width + 50px);}
  }

  .v-label-failure {
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: $failure-color;
    color: white;
  }

  .v-label-failure:before {
    content: "\f05e";
  }
}

@include basic;
@include admin;
@include status;